# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environment
grievence_env/
venv/
env/
ENV/
Scripts/

# Django
*.db
db.sqlite3
media/
staticfiles/

# VS Code / IDE
.vscode/
.idea/

# Env files
.env
*.env

# OS
.DS_Store
Thumbs.db

# Node / frontend
node_modules/
build/
dist/
package-lock.json

